<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>A very simple form</title>
</head>

<body>

    <p> when Expoting a door to Germany you will need to manufacture based on this standards </p><br>
    <h4> Security:</h4>
    <br>
    <p> {{Security}} </p >

    
    <h4> In case of emergency such as fire you need to:</h4>
    <br>
    <p> {{safetyFire}} </p >

    <h4> Door Safety In Use:</h4>
    <br>
    <p> {{safetyInUse}} </p >
    <br>


    <p>For help from experts visit our main page </p>



</body>
</html>


